<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="fragment/common_parts.html :: head"></div>
    <title>CatsMall</title>
</head>
<body>
<div class="container-md">
    <div class="row justify-content-center">
        <div th:block class="col-md-12" th:replace="fragment/common_nav :: nav">Navbar</div>
        <div class="col-md-12" style="height: 50px;"></div>

        <div class="col-md-8 mb-3">
            <p class="fs-3">회원 가입</p>
            <hr>
        </div>
        <div class="col-md-8">
            <form method="post" th:action="@{/members/signup}" th:object="${memberDto}"
                  class="row g-3 needs-validation"
                  novalidate>
                <label for="inputEmail3" class="col-md-2 col-form-label">Email</label>
                <div class="col-md-8">
                    <input type="email" class="form-control" id="inputEmail3" th:field="*{email}" required>
                    <small class="invalid-feedback">필수 항목 입니다.</small>
                    <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div class="col-md-2"></div>
                <label for="inputPassword3" class="col-md-2 col-form-label">Password</label>
                <div class="col-md-8">
                    <input type="password" name="password" class="form-control" id="inputPassword3"
                           th:field="*{password}" required>
                    <small class="invalid-feedback">필수 항목 입니다.</small>
                    <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
                <div class="col-md-2"></div>
                <label for="inputNickName" class="col-md-2 col-form-label">Nickname</label>
                <div class="col-md-8">
                    <input type="text" id="inputNickName" name="nickname" th:field="*{nickname}" class="form-control"
                           required/>
                    <small class="invalid-feedback">필수 항목 입니다.</small>
                    <p class="text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></p>
                </div>
                <div class="col-md-2"></div>

                <label for="inputName" class="col-md-2 col-form-label">Name</label>
                <div class="col-md-8">
                    <input type="text" id="inputName" name="name" th:field="*{name}" class="form-control" required/>
                    <small class="invalid-feedback">필수 항목 입니다.</small>
                    <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
                <div class="col-md-2"></div>
                <label for="inputPhonenum" class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-8">
                    <input type="text" name="phonenum" id="inputPhonenum" class="form-control"
                           th:field="*{phonenum}"
                           required/>
                    <small class="invalid-feedback">필수 항목 입니다.</small>
                    <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{phonenum}"></p>
                </div>
                <div class="col-md-2"></div>
                <label for="address-btn" class="form-label col-md-2">Address</label>
                <div class="form-group col-md-8">
                    <div class="row g-2">
                        <div class="col-md-3 me-0 pe-0">
                            <input type="text" id="postcode" name="postcode" class="form-control" placeholder="우편번호"
                                   th:field="*{postcode}" required>
                            <small class="invalid-feedback">필수 항목 입니다.</small>
                            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{postcode}"></p>
                        </div>
                        <div class="col-md-2">
                            <input id="address-btn" type="button" class="btn btn-outline-success"
                                   onclick="sample4_execDaumPostcode()"
                                   value="우편번호 찾기" required>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" id="roadAddress" name="roadAddress" class="form-control"
                                   placeholder="도로명주소" th:field="*{roadAddress}"
                                   required>
                            <small class="invalid-feedback">필수 항목 입니다.</small>
                            <p class="text-danger" th:if="${#fields.hasErrors()}" th:errors="*{roadAddress}"></p>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="row">
                                <div class="col-md-6 me-0 pe-0">
                                    <input type="text" id="jibunAddress" name="jibunAddress" class="form-control"
                                           placeholder="지번주소" th:field="*{jibunAddress}" required>
                                    <span id="guide" style="color:#999;display:none"></span>
                                    <small class="invalid-feedback">필수 항목 입니다.</small>
                                    <p class="text-danger" th:if="${#fields.hasErrors()}"
                                       th:errors="*{jibunAddress}"></p>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="detailAddress" name="detailAddress" class="form-control"
                                           placeholder="상세주소" th:field="*{detailAddress}" required>
                                    <small class="invalid-feedback">필수 항목 입니다.</small>
                                    <p class="text-danger" th:if="${#fields.hasErrors()}"
                                       th:errors="*{detailAddress}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="text" id="extraAddress" name="extraAddress" class="form-control"
                                   placeholder="참고항목" th:field="*{extraAddress}">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-10 mb-2">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-outline-primary">회원 가입</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                document.getElementById("jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if (roadAddr !== '') {
                    document.getElementById("extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if (data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if (data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>

<script th:replace="fragment/common_parts :: form-validation"></script>

</body>
</html>