<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="fragment/common_parts.html :: head"></div>
    <title>CatsMall</title>
</head>
<body>
<div th:replace="fragment/common_nav :: nav"></div>

<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <div th:replace="member/mypage/mypagenav.html :: nav('비밀번호변경')"></div>
        </div>
        <div class="col-md-8">
            <div class="row g-3">
                <div class="col-12">
                    <h2>비밀 번호 변경</h2>
                </div>
                <hr class="m-1">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <form th:action="@{/members/password-repeat}" method="post" class="row needs-validation" th:object="${passwordRepeat}" novalidate>
                            <label for="currentPassword" class="form-label">현재 비밀번호</label>
                            <div class="col-md-8">
                                <input id="currentPassword" type="password" name="password" class="form-control col-md-8" aria-describedby="passwordHelp"/>
                                <small id="passwordHelp" class="form-text">본인 확인을 위해 현재 비밀번호를 입력해주세요.</small><br>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                            </div>
                            <div class="d-grid col-md-8">
                                <button class="btn btn-outline-primary" type="submit">확인</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>